@model Project_II.Models.Dto.ContactDto

@{
    ViewBag.Title = "SearchByEmail";
}

<h2>Search By Email</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.first_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.client_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.client_id)
        </dd>
    </dl>
</div>
<!-- New space for payment -->


@{
    ViewBag.ContactId = Model.id; // Send the contact ID to the partial view
}

@Html.Partial("_PaymentForm", new Project_II.Models.Dto.PayoutDto())

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
