@model IEnumerable<Project_II.Models.Dto.ContactDto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!-- Button to create a new contact -->
<p>
    @Html.ActionLink("Create New Contact", "Create", null, new { @class = "btn btn-primary" })
</p>

<!-- Table to display contact details -->
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.client_id)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.id)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.client_id)
            </td>
        </tr>
    }
</table>

<!-- Button to go back to the index -->
<p>
    @Html.ActionLink("Go Back", "Index", null, new { @class = "btn btn-secondary" })
</p>

<!-- New button to show all payments -->
<p>
    @Html.ActionLink("Show All Payments", "ShowPayments", "Payout", null, new { @class = "btn btn-warning", role = "button" })
</p>
